@font-face {
  font-family: "Segoe UI";
  src: url("../fonts/Segoe UI.woff");
}

html {
  font-size: 20px !important;
  font-family: 20px !important;
}

body {
  background-color: #080808;
  color: #f0f0f0;
}

ul {
  list-style-type: none;
  padding-left: 0px;
}

a {
  color: #f0f0f0;
}

a:hover {
  color: #f0f0f0;
  text-decoration: none;
}

.intro {
  position: relative;
  height: 700px;
  background-image: url("../images/vin-diesel.jpg");
  background-size: cover;
  background-position-x: center;
}

.intro h1 {
  display: block;
  position: absolute;
  bottom: 30px;
  left: 30px;
  font-size: 42px;
}

.smallerIntro {
  height: 600px;
}

.navigationContainer {
  background-color: rgba(0, 0, 0, 0.3) !important;
}

.navigationMenu li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigationMenu li a {
  color: #f0f0f0 !important;
  font-family: "Segoe UI" !important;
}

.navigationBtn {
  position: fixed;
  top: 5px;
  left: 10px;
  color: #f0f0f0 !important;
}

.navigationBtn:focus {
  outline: none;
}

.navigationBtn span {
  color: #f0f0f0 !important;
  font-size: 32px;
}

.websiteTitle {
  font-size: 1.4rem;
  color: #f0f0f0 !important;
}

.account {
  position: fixed;
  right: 20px;
  top: 12px;
}

.account i {
  font-size: 36px;
}

.account i:hover {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#loginContainer {
  height: 600px;
  overflow-y: hidden;
}

#loginDecoration {
  position: absolute;
  right: 0px;
  bottom: -125px;
  height: 700px;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
  z-index: -1;
}

#footer {
  background-color: #060606;
  border-top: 1px solid #2c2c2c;
}

#copyright {
  font-size: 16px;
}

.footerList div h3 {
  font-size: 24px;
}

.footerList div ul li {
  margin: 5px 0px;
}

.newsletterContainer h3 {
  font-size: 24px;
}

.newsletterContainer input:focus {
  -webkit-box-shadow: 0 0 0 0;
          box-shadow: 0 0 0 0;
}

.sendIcon {
  border: none;
  color: #080808;
  border-radius: 0px !important;
  background-color: white;
}

.sendIcon:hover {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#manageLibraryContainer h1 {
  font-size: 32px;
}

#newContentPanel {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 9999;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#newContentPanelDialog {
  width: 800px;
  max-height: 550px;
  overflow: auto;
  position: relative;
  background-color: #080808;
  border: 1px solid gray;
  margin-top: 100px;
}

#newContentPanelDialog h3 {
  text-align: center;
  font-size: 32px;
}

#newContentPanelDialog input[name=title] {
  font-size: 28px;
  padding-left: 0px;
}

#newContentPanelDialog input[name=description] {
  min-height: 200px;
}

#newCoverImage {
  position: relative;
}

#newCoverImage img + input {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  opacity: 0;
}

#newCoverImage img + input:hover {
  cursor: pointer;
}

#wallpapersContainer {
  min-height: 50px;
  max-height: 75px;
  overflow-y: auto;
}

#addContentBtn {
  width: 80px;
  height: 45px;
}

.closeDialogBtn {
  display: block;
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 28px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.closeDialogBtn:hover {
  cursor: pointer;
}

.manageContentItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.manageContentItem > div:first-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 130px;
          flex: 0 0 130px;
}

.manageContentItem > div:first-child img {
  width: 100%;
}

.manageContentItem > div:nth-child(2) {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  overflow: hidden;
}

.manageContentItem h3 {
  font-size: 24px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.manageContentItem p {
  display: block;
  width: 100%;
  margin-bottom: 5px;
  font-size: 18px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.manageContentItem button {
  width: 50%;
  padding: 0px;
  font-size: 16px;
  display: block;
  margin: 0px auto;
}

.manageContentItem .deleteBtn {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.manageContentItem .deleteBtn:hover {
  cursor: pointer;
}

#search {
  background-color: #080808;
  color: white;
  font-size: 18px;
  border: 1px solid white;
  border-radius: 1000px;
  padding: 5px 20px;
  padding-left: 20px;
  height: 35px;
}

#search:focus {
  outline: none;
}

#loadMoreContent {
  display: block;
  width: 150px;
  height: 35px;
  padding: 0px;
}

#loadMoreContent:focus {
  outline: none;
}

#loadMoreContent i {
  height: 100%;
  font-size: 32px;
}

#registerDecoration {
  position: absolute;
  right: 150px;
  bottom: 0px;
  display: block;
  height: 550px;
  z-index: -1;
}

#registerContainer {
  min-height: 600px;
  overflow-y: hidden;
}

.contentListContainer h2 {
  font-size: 28px;
}

.contentListWrapper {
  position: relative;
}

.contentList {
  overflow-x: auto;
  position: relative;
}

.contentListItem {
  position: relative;
  margin-right: 20px;
}

.contentListItem img {
  width: 175px;
}

.contentListItem .contentOverlay {
  position: absolute;
  top: 0px;
  height: 0px;
  visibility: hidden;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.contentListItem .contentOverlay > i {
  display: block;
  font-size: 42px;
  color: white;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: absolute;
  top: 40%;
  left: 40%;
}

.contentListItem .contentOverlay > i:hover {
  cursor: pointer;
}

.contentListItem .contentOverlay .contentInfo {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px 0px;
  padding-left: 10px;
}

.contentListItem .contentOverlay .contentInfo p {
  display: block;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-bottom: 0px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 60%;
          flex: 1 0 60%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.contentListItem .contentOverlay .contentInfo p:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.contentListItem:hover .contentOverlay {
  visibility: visible;
}

.contentListScroll {
  position: absolute;
  top: 48%;
  background-color: rgba(0, 0, 0, 0.3);
}

.contentListScroll i {
  color: white;
  border: 1px solid gray;
  padding: 4px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.contentListScroll i:hover {
  cursor: pointer;
}

.contentListScrollLeft {
  left: 10px;
}

.contentListScrollRight {
  right: 10px;
}

#newReleasesContainer {
  position: relative;
  height: 660px;
}

#newReleasesBackground {
  content: "";
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  background-size: cover;
}

#newReleases {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#newReleases div:nth-child(2) h4 {
  font-size: 32px;
}

#newReleases .contentListScroll {
  position: relative;
  width: 32px;
  height: 32px;
}

#sliderItemInfo button {
  width: 150px;
}

#promoContainer p {
  font-size: 24px;
}

#promoContainer button {
  display: block;
  width: 175px;
  margin-top: 5px;
}

#freeTrialContainer {
  background-size: cover;
  background-image: url("../images/free-trial.jpg");
  height: 550px;
}

#freeTrialContainer ul li {
  font-size: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#freeTrialContainer ul li i {
  font-size: 26px;
}

#freeTrialContainer button {
  background-color: rgba(0, 0, 0, 0.8);
}

#freeTrialContainer button:hover {
  background-color: black;
}

#mobileAppContainer {
  background-size: cover;
  background-image: url("../images/dracula.jpg");
  height: 650px;
  position: relative;
}

#mobileAppContainer #mobileInfo h2 {
  font-size: 32px;
}

#mobileAppContainer #mobileInfo p {
  font-size: 24px;
}

#mobileAppContainer #mobileInfoDetails p:first-child {
  font-size: 26px;
}

#mobileAppContainer ul li {
  font-size: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(0, 0, 0, 0.13);
}

#mobileAppContainer ul li i {
  font-size: 26px;
}

#mobileAppContainer button {
  background-color: rgba(0, 0, 0, 0.8);
  width: 225px;
  height: 40px;
  display: block;
}

#mobileAppContainer button:hover {
  background-color: black;
}

#mobileDecoration {
  position: absolute;
  height: 90%;
  bottom: 0px;
  right: 200px;
}

.ht-btn {
  border: 2px solid white;
  border-radius: 1000px;
  background-color: rgba(0, 0, 0, 0.3);
  color: #f0f0f0 !important;
  padding: 5px 0px;
}

.ht-btn:hover {
  background-color: black;
}

.ht-floating-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  position: fixed;
  right: 50px;
  bottom: 40px;
  z-index: 1;
  border: 2px solid #2c2c2c;
  border-radius: 1000px;
  background-color: rgba(0, 0, 0, 0.8);
}

.ht-floating-btn:hover {
  cursor: pointer;
  background-color: #141414;
}

.ht-floating-btn i {
  font-size: 24px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.ht-input-text {
  background-color: #080808;
  border: 1px solid white;
  color: white;
  padding-left: 5px;
}

.ht-input-text::-webkit-input-placeholder {
  color: white;
}

.ht-input-text:-ms-input-placeholder {
  color: white;
}

.ht-input-text::-ms-input-placeholder {
  color: white;
}

.ht-input-text::placeholder {
  color: white;
}

.ht-inline-form-group label {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.ht-inline-form-group input {
  width: 40%;
}

.ht-file-label-group p {
  font-size: 16px;
}

.ht-input-file {
  position: relative;
  height: 30px;
}

.ht-input-file div {
  padding: 0px;
  height: 30px;
  font-size: 16px;
  text-align: center;
}

.ht-input-file:hover {
  cursor: pointer;
}

.ht-input-file input {
  -webkit-appearance: none;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.ht-multiselect {
  position: relative;
  width: 5px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.ht-multiselect > div:first-child {
  background-color: white;
  color: black;
  padding-left: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0px 5px;
}

.ht-multiselect > div:first-child:hover {
  cursor: pointer;
}

.ht-multiselect-list {
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  position: absolute;
  top: 32px;
  left: -1px;
  z-index: 5;
  background-color: white;
  border: 1px solid black;
}

.ht-multiselect-list-item {
  padding-left: 5px;
}

.ht-multiselect-list-item label {
  font-size: 18px;
  color: black;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.non-clickable {
  pointer-events: none;
}

.ht-yellow-btn {
  border: 2px solid gray;
  border-radius: 1000px;
  background-color: #ffee00;
  color: black !important;
  font-weight: bolder;
  padding: 3px 0px;
}

.ht-yellow-btn:hover {
  background-color: #dacb00;
}

.ht-px-7 {
  padding: 0px 5rem;
}

.custom-control-input:checked ~ .custom-control-label::before {
  color: white;
  background-color: black;
  border-color: white;
  border-width: 2px;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

.contentList {
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  /* Firefox */
}

.contentList::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}
/*# sourceMappingURL=main.css.map */