$primaryBlack: #080808;
$textColorDefault: rgb(240, 240, 240);
$fontSizeDefault: 20px;
$fontFamilyDefault: "Segoe UI";

$navigationBtnSize: 32px;
$navigationBtnTop: 5px;
$navigationBtnLeft: 10px;

$footerBlack: #060606;
$footerBorderTop: rgb(44, 44, 44);
$footerListItemHeadingSize: 24px;

$dialogBorderColor: rgb(128, 128, 128);

@font-face{
    font-family: "Segoe UI";
    src: url("../fonts/Segoe\ UI.woff");
}

html{
    font-size: $fontSizeDefault !important;
    font-family: $fontSizeDefault !important;
}

body{
    background-color: $primaryBlack;
    color: $textColorDefault;
}
ul{
    list-style-type: none;
    padding-left: 0px;
}
a{
    color: $textColorDefault;
    &:hover{
        color: $textColorDefault;
        text-decoration: none;
    }
}

.intro{
    position: relative;
    height: 700px;
    background-image: url("../images/vin-diesel.jpg");
    background-size: cover;
    background-position-x: center;
    // background-attachment: fixed;

    h1{
        display: block;

        position: absolute;
        bottom: 30px;
        left: 30px;

        font-size: 42px;
    }
}

.smallerIntro{
    height: 600px;
}
.navigationContainer{
    background-color: rgba(0,0,0,0.3) !important;
}

.navigationMenu{
    li{
        display: flex;
        align-items: center;
        a
        {
            color: $textColorDefault !important;
            font-family: $fontFamilyDefault !important;
        }
    }
}

.navigationBtn{
    position: fixed;
    top: $navigationBtnTop;
    left: $navigationBtnLeft;
    color: $textColorDefault !important;
    &:focus{
        outline: none;
    }
    span
    {
        color: $textColorDefault !important;
        font-size: $navigationBtnSize;
    }
}

.websiteTitle{
    font-size: 1.4rem;
    color: $textColorDefault !important;
}

.account{
    position: fixed;
    right: 20px;
    top: 12px;
    i{
        font-size: 36px;
        &:hover{
            cursor: pointer;
            user-select: none;
        }
    }
}

#loginContainer{
    height: 600px;
    overflow-y: hidden;
}
#loginDecoration{
    position: absolute;
    right: 0px;
    bottom: -125px;
    height: 700px;
    transform: scaleX(-1);
    z-index: -1;
}

#footer{
    background-color: $footerBlack;
    border-top: 1px solid $footerBorderTop;
}

#copyright{
    font-size: 16px;
}

.footerList{
    div{
        h3{
            font-size: $footerListItemHeadingSize;
        }
        ul{
            li{
                margin: 5px 0px;
            }
        }
    }
}

.newsletterContainer{
    h3{
        font-size: $footerListItemHeadingSize;
    }
    input:focus{
        box-shadow: 0 0 0 0;
    }
}
.sendIcon{
    border: none;
    color: $primaryBlack;
    border-radius: 0px !important;
    background-color: white;
    &:hover{
        cursor: pointer;
        user-select: none;
    }
}



////////////////////////////////////////////////////////////////// MANAGE CONTENT LIBRARY 
#manageLibraryContainer{
    h1{
        font-size: 32px;
    }
}
#newContentPanel{
    background-color: rgba(0,0,0, 0.5);
    position: fixed;
    z-index: 9999;

    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;

    display:flex;
    justify-content: center;

    &Dialog{
        width: 800px;
        max-height: 550px;
        overflow: auto;

        position: relative;

        background-color: $primaryBlack;
        border: 1px solid $dialogBorderColor;

        margin-top: 100px;

        h3{
            text-align: center;
            font-size: 32px;
        }
        input[name=title]{
            font-size: 28px;
            padding-left: 0px;
        }
        input[name=description]{
            min-height: 200px;
        }
    }
}

#newCoverImage{
    position: relative;

    img+input{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        opacity: 0;
        &:hover{
            cursor: pointer;
        }
    }
}
#wallpapersContainer{
    min-height: 50px;
    max-height: 75px;
    overflow-y: auto;
}
#addContentBtn{
    width: 80px;
    height: 45px;
}
.closeDialogBtn{
    display: block;
    position: absolute;

    right: 20px;
    top: 20px;
    
    font-size: 28px;

    user-select: none;

    &:hover{
        cursor: pointer;
    }
}

.manageContentItem{
    display: flex;

    >div:first-child{
        flex: 0 0 130px;
        img{
            width: 100%;
        }
    }
    >div:nth-child(2){
        flex-grow: 1;

        overflow: hidden;
    }  
    h3{
        font-size: 24px;

        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    p{
        display: block;
        width: 100%;

        margin-bottom: 5px;
        font-size: 18px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    button{
        width: 50%;
        padding: 0px;
        font-size: 16px;
        
        display: block;
        margin: 0px auto;
    }

    .deleteBtn{
        user-select: none;
        &:hover{
            cursor: pointer;
        }
    }
}
#search{
    background-color: $primaryBlack;
    color: white;
    font-size: 18px;

    border: 1px solid white;
    border-radius: 1000px;
    
    padding: 5px 20px;
    padding-left: 20px;
    height: 35px;

    &:focus{
        outline: none;
    }
    
}
#loadMoreContent{
    display: block;
    width: 150px;
    height: 35px;
    padding: 0px;
    &:focus{
        outline: none;
    }
    i{
        height: 100%;
        font-size: 32px;
    }
}
//////////////////////////////////////////////////////////////////////////// REGISTER
#registerDecoration{
    position: absolute;

    right: 150px;
    bottom: 0px;
    
    display: block;
    height: 550px;
    z-index: -1;
}
#registerContainer{
    min-height: 600px;
    overflow-y: hidden;
}
//////////////////////////////////////////////////////////////////////////// INDEX
.contentListContainer{
    h2{
        font-size: 28px;
    }
}

.contentListWrapper{
    position: relative;
}
.contentList{
    overflow-x: auto;
    position: relative;
}
.contentListItem{
    position: relative;
    margin-right: 20px;
    img{
        width: 175px;
    }
    .contentOverlay{
        position: absolute;
        top: 0px;
        height: 0px;

        visibility: hidden;

        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: row;
        align-items: flex-end;

        >i{
            display: block;
            font-size: 42px;
            color: white;
            user-select: none;

            position: absolute;
            top: 40%;
            left: 40%;
            &:hover{
                cursor: pointer;
            }
        }
        .contentInfo{
            width: 100%;
            background-color: rgba(0,0,0,0.7);

            display: flex;
            justify-content: space-between;
            padding: 5px 0px;
            padding-left: 10px;
            p{
                display: block;
                user-select: none;
                margin-bottom: 0px;

                flex: 1 0 60%;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;

            }
            p:nth-child(2){
                display: flex;
                align-items: center;
                flex-grow: 0;
                flex-shrink: 0;
            }
        }

    }
    &:hover .contentOverlay{
        visibility: visible;
    }
}
.contentListScroll{
    position: absolute;
    top: 48%;
    
    background-color: rgba(0,0,0,0.3);

    i{
        color: white;
        border: 1px solid gray;
        padding: 4px;
        user-select: none;
        &:hover{
            cursor: pointer;
        }
    }
}
.contentListScrollLeft{
    left: 10px;
}
.contentListScrollRight{
    right: 10px;
}
#newReleasesContainer{
    position: relative;
    height: 660px;
}
#newReleasesBackground{
    content: "";
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;

    background-size: cover;
}
#newReleases{
    box-sizing: border-box;
    div:nth-child(2){
        h4{
            font-size: 32px;
        }
        p{

        }
    }
    .contentListScroll{
        position:relative;
        width: 32px;
        height: 32px;
    }
}
#sliderItemInfo{
    button{
        width: 150px;
    }
}
#promoContainer{
    p{
        font-size: 24px;
    }
    button{
        display: block;
        width: 175px;
        margin-top: 5px;
    }
}
#freeTrialContainer{
    background-size: cover;
    background-image: url("../images/free-trial.jpg");
    height: 550px;
    ul{
        li{
            font-size: 22px;
            display: flex;
            align-items: center;
            i{
                font-size: 26px;
            }
        }
    }
    button{
        background-color: rgba(0,0,0,0.8);
        &:hover{
            background-color: black;
        }
    }
}
#mobileAppContainer{
    background-size: cover;
    background-image: url("../images/dracula.jpg");
    height: 650px;
    position: relative;

    #mobileInfo{
        h2{
            font-size: 32px;
        }
        p{
            font-size: 24px;
        }
        &Details{
            p:first-child{
                font-size: 26px;
            }
        }
    }
    ul{
        li{
            font-size: 22px;
            display: flex;
            align-items: center;
            i{
                font-size: 26px;
            }
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: rgba(0, 0, 0, 0.13);
        }
    }
    button{
        background-color: rgba(0,0,0,0.8);
        width: 225px;
        height: 40px;
        display: block;
        &:hover{
            background-color: black;
        }
    }
}
#mobileDecoration{
    position: absolute;
    height: 90%;
    bottom: 0px;
    right: 200px;
}
// CUSTOM CLASSES
.ht-btn{
    border: 2px solid white;
    border-radius: 1000px;
    background-color: rgba(0,0,0,0.3);
    color: $textColorDefault !important;
    padding: 5px 0px;

    &:hover{
        background-color: rgba(0,0,0,1);
    }
}
.ht-floating-btn{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50px;
    height: 50px;

    position: fixed;
    right: 50px;
    bottom: 40px;
    z-index: 1;
    
    border: 2px solid $footerBorderTop;
    border-radius: 1000px;

    background-color: rgba(0,0,0,0.8);

    &:hover{
        cursor: pointer;
        background-color: lighten(#000,8%);
    }
    i{
        font-size: 24px;
        user-select: none;
    }
}
.ht-input-text{
    background-color: $primaryBlack;
    border: 1px solid white;
    color: white;
    padding-left: 5px;
    &::placeholder{
        color: white;
    }
}
.ht-inline-form-group{
    label{
        flex-basis: 50%;
    }
    input{
        width: 40%;
    }
}
.ht-file-label-group{
    p{
        font-size: 16px;
    }
}
.ht-input-file{
    position: relative;
    height: 30px;
    div{
        padding: 0px;
        height: 30px;

        font-size: 16px;
        text-align: center;
    }

    &:hover{
        cursor: pointer;
    }
    input{
        -webkit-appearance: none;
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 1;

        width: 100%;
        height: 100%;
        opacity: 0;
    }
}
.ht-multiselect{
    position: relative;

    width: 5px;
    flex-grow: 1;
    >div:first-child{
        background-color: white;
        color: black;
        padding-left: 5px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        padding: 0px 5px;
        &:hover{
            cursor: pointer;
        }
    }

    &-list{
        width: 100%;
        // min-height: 75px;
        max-height: 200px;
        overflow-y: auto;

        position: absolute;
        top: 32px;
        left: -1px;
        z-index: 5;

        background-color: white;
        border: 1px solid black;

        &-item{
            padding-left: 5px;
            label{
                font-size: 18px;
                color: black;
            }
        }
    }
}
.stop-scrolling{
    height: 100%;
    overflow: hidden;
}
.non-clickable{
    pointer-events: none;
}
.ht-yellow-btn{
    border: 2px solid gray;
    border-radius: 1000px;

    background-color: rgb(255, 238, 0);
    color: black !important;
    font-weight: bolder;

    padding: 3px 0px;


    &:hover{
        background-color: darken(rgb(223, 208, 0), 1%);
    }
}

// CUSTOM SPACING CLASSES
.ht-px-7{
    padding: 0px 5rem;
}

//BOOTSTRAP CUSTOMIZATIONS

    // CHECKBOX
.custom-control-input:checked~.custom-control-label::before{ 
    color: white;
    background-color: black;
    border-color: white;
    border-width: 2px;
}

// BROWSER DEFAULTS OVERRIDE
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}

.contentList {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.contentList::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}